@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --color-table-header: #deb5b5;
  --color-table-rows: #CDCDCD;
}

body {
  font-family: 'Roboto', sans-serif;
}
