.App-header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #e1003c;
  padding: 1rem;
}

.App-header img {
  height: 200px;
}

.App-header h1 {
  color: #e1003c;
  font-size: 2rem;
  margin-left: 1rem;
}

.App-body {
  margin: 2rem;
  margin-bottom: 100px;
}

.App-footer {
  text-align: center;
  border-top: 3px solid #e1003c;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.notification-items {
  border: 2px dashed #e1003c;
  padding: 10px;
  margin: 20px;
  font-size: 16px;
}
